extends ../layouts/main.pug

block content
    section.search  
        form(action="/" method="GET")
            select(name="seq")
                option(value="title") 제목
                option(value="author") 작가님
            input(type="text" name="searchValue" placeholder="검색어를 입략해주세요")
            input(type="submit" valur="Search")

    section.booklist 
        ul
            li 번호
            li 제목
            li 위치
            li 작가
            li 금액
    section.bookDataList
        each book in books
            ul
                li 1
                li #{book.title} 
                li #{book.location}
                li #{book.author.name}
                li #{book.price} 원
                
    